
.home-page {
    padding: 1rem;
}


/* Search */
.home-page .search {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 100;
}

.home-page .search .label {
    font-weight: 300;
}

.home-page .search .input {
    border: none;
    box-shadow: inset 1px 1px 7px 0 grey;
    margin-left: 1rem;
    border-radius: 5px;

    font-weight: 100;
    padding-left: .5rem;
}

/* List */
.home-page .user-list {
    padding-left: 0;
}

/* Item  */
.home-page .user-list .user-list-item {
    list-style: none;
    display: flex;
    margin: 1rem 0;
    padding: 1rem;
    align-items: center;

    border-radius: 5px;
    box-shadow: 2px 8px 12px 0 lightgrey;

}

    /* Hover listed-item effect  */

.home-page .user-list .user-list-item:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.11);
    transition: all .5s;
    transform: translateY(3px);
}

/* Active listed-item animation on click  */

.home-page .user-list .user-list-item:active {
    transform: scale(.9);
}

.user-list-item .icon {
    padding: 1.5rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    line-height: 1px;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 1px lightgrey;
}

