.desilogo {
    align-items: center;
    border: 3px solid green;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.DesiLink {
    background-color: lightgreen;
    display: flex;
    font-size: 25px;
}

.footer {
    background-color: lightgreen;
}