.user-profile {
    padding: 1rem;
    font-weight: 300;
}

.user-profile-row {
    display: flex;
    margin: 1rem 0;
}

.user-profile .user-profile-label {
    padding-right: 1rem;
}

.user-profile .user-profile-value {
}
